{{>layout/header}}
    <h1>Role Management</h1>
    <div class="col-md-12">
        <div  class="row">
            <div class="col-md-6">
                <a href="/roles/save" role="button" class="btn btn-primary">권한수정</a>
                <a href="/" role="button" class="btn btn-info active">게시판으로 이동</a>
            </div>
        </div>
        <br />
        <div class="wrap">
            <div>
                <table>
                    <colgroup>

                    </colgroup>
                    <tbody>
                    <th>ID</th>
                    <td><input id="userID" disabled></td>
                    <th>이름</th>
                    <td><input id="userName" disabled></td>
                    <th>권한</th>
                    <td>
                        <select name = "roleValues">
                            <option value="GUEST">GUEST</option>
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select>
                    </td>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <div class="wrap">
            <div>
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                        <tr>
                            <th>ID</th>
                            <th>이름</th>
                            <th>권한</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    {{#roles}}
                        <tr onclick="roles.test()">
                            <td>{{id}}</td>
                            <td>{{name}}</td>
                            <td>{{role}}</td>
                        </tr>
                    {{/roles}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--role.js 추가-->
<script src="/js/app/roles.js"></script>
</body>
</html>
